<h1>Home</h1>

<h2>Agora são: <%= Time.now %> </h2>


<form action="/">
	<input type="text" name="letter" value="<%= @user_input_letter %>">
	<input type="number" name="length" value="<%= @user_input_length %>">
	<input type="submit">
</form>


<ul>
	<% @beatles.each do |beatle| %>
		<li> <%= beatle %> </li>
	<% end %>
</ul>

<%#= link_to TEXTO DO LINK, PATH_DO_LINK %>

<%= link_to "About", about_path %>
<%= link_to "Batata", batata_path  %>


